name: create changeset for PR created by Renovate

on:
  pull_request:
    branches:
      - main

jobs:
  default:
    runs-on: ubuntu-latest
    # commit author should be renovate[bot]
    if: startsWith(github.head_ref, 'renovate/') && github.event.pull_request.user.login == 'renovate[bot]' && github.actor == 'renovate[bot]'
    steps:
      - uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: ./.github/actions/setup
        with:
          token: ${{ steps.app-token.outputs.token }}
          bot-app-slug: ${{ steps.app-token.outputs.app-slug }}
      - uses: YutaUra/actions/renovate-changeset@4ea3c3244871a9af811a7160da4e951cc85bb12c # v0.0.48
        with:
          token: ${{ steps.app-token.outputs.token }}
          setup-git-user: false
