name: create changeset for PR created by Renovate

on:
  pull_request:
    branches:
      - main

jobs:
  default:
    runs-on: ubuntu-latest
    # commit author should be renovate[bot]
    if: startsWith(github.head_ref, 'renovate/') && github.event.pull_request.user.login == 'renovate[bot]' && github.actor == 'renovate[bot]'
    steps:
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          token: ${{ steps.app-token.outputs.token }}
      - uses: ./.github/actions/setup
        with:
          token: ${{ steps.app-token.outputs.token }}
          bot-app-slug: ${{ steps.app-token.outputs.app-slug }}
      - uses: YutaUra/actions/renovate-changeset@235ae8c25d42c1b730ce7e95cd951d9f16b58e8b # v0.0.64
        with:
          token: ${{ steps.app-token.outputs.token }}
          setup-git-user: false
