name: wait-for-workflows

on:
  pull_request_target:

jobs:
  wait-for-workflows:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_PRIVATE_KEY }}
      - uses: int128/wait-for-workflows-action@8c55b880738d84f28c4382fffe165895a01fed0e # v1.53.0
        with:
          token: ${{ steps.app-token.outputs.token }}
